.repo-container {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-top: 1.5rem;
}

.repo-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background: #3c3c3c;
    border-radius: 25px;
    border: 2px solid #906cfe;

    padding: 0.9rem;
}

.repo-card.favorite {
    border: 2px solid #faca00;
}

.repo-card > .bottom {
    align-self: center;
}

.repo-card h2 {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

.repo-card h2 > a {
    font-weight: bold;
}

.repo-card .repo-props {
    font-weight: bold;
}

.repo-card .repo-props span {
    margin: 0.5rem;
}

.repo-card p {
    text-align: left;
}
